.attribution { font-size: 11px; text-align: center; color:#424242}
.attribution a { color: hsl(228, 45%, 44%); }

@font-face {
    font-family: 'Antonio'; /*Nombre de la fuente a usar al nombrarla*/
    src: url("../font/Antonio-VariableFont_wght.ttf");
}
@font-face {
    font-family: 'OpenSans'; /*Nombre de la fuente a usar al nombrarla*/
    src: url("../font/OpenSans-VariableFont_wdth,wght.ttf");
}

body{
    font-family: 'Antonio';
    font-size: large;
}
a{
    color: #424242;
}

#cabecera{
    margin:0em;
    padding:2em;
    font-family: 'Antonio';
    font-size: large;
    background-color: #A5FA7D;
    
}
#cabecera li{
    float:right; /*tuve que poner los items de la list en orden inverso para que este float los acomode bien*/
    color:#424242;
    margin: 1em;
    padding: 0em;
    list-style: none;
}
#cabecera div .col-sm-8{
    text-align: center;
    padding-right: 3em;
}

#primeraSeccion{
    background-color: rgb(235, 235, 235);
    margin:0em;
    padding:2em;
}
#primeraSeccion h2, p{
    color:#424242;
}
#ul-tel{
    list-style-image: url('../images/icon-phone.svg');
    color:#424242;
    filter: brightness(0) invert(0.2); 
}
#ul-mail{
    list-style-image: url('../images/icon-email.svg');
    color:#424242;
    filter: brightness(0) invert(0.2); 
}

#segundaSeccion{
    background-color: hsl(240, 75%, 98%);
    margin:0em;
    padding:2em;
    
}
#segundaSeccion h2, p{
    color:#424242;
}
#segundaSeccion a{
    color:hsl(113, 45%, 43%)
}

#terceraSeccion{
    background-color: #424242;
    margin:0em;
    padding:5em;
}
#terceraSeccion #p-newsletter{
    color:white;
}
#logo-blanco, #icono-fb, #icono-tw, #icono-ig{ /*cambia de color a blanco las imagenes*/
    color:white;
    filter: brightness(0) invert(1); 
}