.attribution { font-size: 11px; text-align: center; color:#424242}
.attribution a { color: hsl(228, 45%, 44%); }

@font-face {
    font-family: 'Antonio'; /*Nombre de la fuente a usar al nombrarla*/
    src: url("../font/Antonio-VariableFont_wght.ttf");
}

body{
    font-family: 'Antonio';
    font-size: large;
}
a{
    color: #424242;
}

#cabecera{
    margin:0em;
    padding:1em;
    padding-left:6em;
    padding-right:6em;
    font-family: 'Antonio';
    font-size: large;
    background-color: #A5FA7D;
}

#cabecera #botones-cabecera a {
    float: right;
    color: #424242;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; /*Evita que se subraye el enlace*/
    font-size: 20px;  
}
#cabecera #botones-cabecera a:hover { /*Cambia estilos al posarse sobre los botones del navbar*/
    background-color: #ffffff;
    color: #424242;
}
#cabecera #botones-cabecera a.active { /*Cambia estilos del boton si el boton esta activo*/
    background-color: #424242;
    color: white;
}

#primeraSeccion{
    background-color: rgb(235, 235, 235);
    margin:0em;
    padding:2em;
    padding-left:6em;
    padding-right:6em;
}
#primeraSeccion h2, p{
    color:#424242;
}
#primeraSeccion a{
    color:white;
    text-decoration: none; /*Evita que se subraye el enlace*/
}
#ul-tel{
    list-style-image: url('../images/icon-phone.svg');
    color:#424242;
    filter: brightness(0) invert(0.2); 
}
#ul-mail{
    list-style-image: url('../images/icon-email.svg');
    color:#424242;
    filter: brightness(0) invert(0.2); 
}

#segundaSeccion{
    background-color: hsl(240, 75%, 98%);
    background-image: url("../images/bg-curve-desktop.png");
    background-repeat: no-repeat;
    background-position: bottom;
    margin:0em;
    padding:2em;
    padding-left:6em;
    padding-right:6em;
}
#segundaSeccion h2, p{
    color:#424242;
}
#segundaSeccion a{
    color:hsl(113, 45%, 43%)
}

#terceraSeccion{
    background-color: #424242;
    margin:0em;
    padding:5em;
    padding-left:6em;
    padding-right:6em;
}
#terceraSeccion #enlaceCRUD{
    color:white !important;
    text-decoration: none !important;
    display: hidden !important;
}

#logo-blanco, #icono-fb, #icono-tw, #icono-ig{ /*cambia de color a blanco las imagenes*/
    color:white;
    filter: brightness(0) invert(1); 
}